<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/> 
    <!--arg name="real_time_update_rate" default="2750.00"/ -->



    <!-- We resume the logic in empty_world.launch -->
    <include file="$(find snake_description)/launch/snake_world_empty.launch">
	    <arg name="debug" value="$(arg debug)"/>
	    <arg name="gui" value="$(arg gui)"/>
	    <arg name="paused" value="$(arg paused)"/>
	    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
	    <arg name="headless" value="$(arg headless)"/>
	    <!--arg name="real_time_update_rate" value="$(arg real_time_update_rate)"/ -->
	    <!-- arg name="world_name" value="$(find task_1)/world/tutorial_testing.world"/ -->
    </include>
    
    
    <arg name="number_of_elements" default="10" />
    <arg name="diameter_m" default="0.055" />
    <arg name="lenght_m" default="0.3" />
    <arg name="mass_m" default="0.1" />
    <arg name="friction_m" default="10.0" />
    <arg name="max_ef" default="100.0" />
    <arg name="max_ya" default="100.0" />
    
    
    <include file="$(find snake_description)/launch/spawn_xacro.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.2" />
        <arg name="P" value="1.57079632679"/>
	    <arg name="Y" value="0"/>
	    <arg name="R" value="0"/>
        <arg name="xacro_robot_file" value="$(find snake_description)/robot/snake_controllers_n.urdf.xacro" />
        <arg name="robot_name" value="snake" />
        <arg name="number_of_elements" value="$(arg number_of_elements)" />
        <arg name="diameter_m" value="$(arg diameter_m)" />
        <arg name="lenght_m" value="$(arg lenght_m)" />
        <arg name="mass_m" value="$(arg mass_m)" />
        <arg name="friction_m" value="$(arg friction_m)" />
        <arg name="max_ef" value="$(arg max_ef)" />
        <arg name="max_ya" value="$(arg max_ya)" />
    </include>
</launch>
