<launch>
	<include file="$(find snake_description2)/launch/spawn_full_snake.launch"/>
	<include file="$(find control_sn)/launch/snake_full_control.launch"/>
	<node name="odom_pub" pkg="my_odom_publisher" type="odom.py" output="screen" />
	<node name="my_control" pkg="control_sn" type="gaits.py" output="screen" />
</launch>
